# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cdaaf136ed1504cda743bc463e8d39cf1f4ce1defa9aba50291e01009f673c083751b7037988a935b813afa3665b0776d674feaa62b01401e4a08477a7c1ce96

test:
  secret_key_base: 93300eec9dce7b048e429860c4133174a9aa1d5e0aa421550991dd2bd5deed280482e403cb994cf44634aed35e27bbbd5bbf28b78de61ee235faf0104a9b2d1c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
